<div class="container">
    <div id="r1" class="row">
        <div class="column col-lg-6 col-md-12 mt-5">
            <h2>Optimize software delivary. <br>Build happier, healthier teams</h2>
            <p>Leverage workflow data to optimize software delivery and build more meaningful connections with your team members.</p>
            <div><button style="background-color:rgb(207, 60, 84) ;padding: 5px;border-radius: 5px;">View Plans</button></div>

        </div>
        <div class="column col-lg-6 col-md-12">
            <img id="p1" src="./../../assets/flow.png" alt="">
        </div>
    </div><br>

  <h2>Features are :</h2><br>
    <div class="row">
        <div class="column col-lg-3 col-md-6 col-sm-12">
            <div class="card" style="width: 18rem;">
                <img src="./../../assets/c1.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Align strategy with execution</h5>
                  <p class="card-text">Spend engineering time wisely by aligned engineering efforts with your most important priorities.</p>
                  <a href="#" class="btn btn-primary">Learn more</a>
                </div>
              </div>
        </div>

        <div class="column col-lg-3 col-md-6 col-sm-12">
            <div class="card" style="width: 18rem;">
                <img src="./../../assets/c2.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Reduce developer friction with DORA metrics</h5>
                  <p class="card-text">Identify bottlenecks in your process and back your tooling investments by quantifying and benchmarking your DevOps practices.</p>
                  <a href="#" class="btn btn-primary">Learn more</a>
                </div>
              </div>
        </div>

        <div class="column col-lg-3 col-md-6 col-sm-12">
            <div class="card" style="width: 18rem;">
                <img src="./../../assets/c3.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Access workflow diagnostics</h5>
                  <p class="card-text">Reduce cycle time by 35% by leveraging actionable insights on cycle time, legacy refactor work, queue time, unplanned work, and code impact. Break down roadblocks. Work smarter and deliver faster.</p>
                  <a href="#" class="btn btn-primary">Learn more</a>
                </div>
              </div>
        </div>

        <div class="column col-lg-3 col-md-6 col-sm-12">
            <div class="card" style="width: 18rem;">
                <img src="./../../assets/c4.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Mitigate burnout and improve team health</h5>
                  <p class="card-text">Improve team health with holistic data-backed, human-supported leadership. And build a culture of continuous improvement while reducing burnout with the objective data to justify paying down tech debt and funding new projects.</p>
                  <a href="#" class="btn btn-primary">Learn more</a>
                </div>
              </div>
        </div>
    </div><br>


    <div class="row">
        <div class="column col-lg-4 col-md-6 col-sm-1">
            <h4>Increase product delivery speed</h4>
            <p>Identify bottlenecks and developer friction, improve flow efficiency and deployment, and build healthy development patterns.</p>
          <a href="">Learn more</a>
        </div>
        <div class="column col-lg-4 col-md-6 col-sm-1">
            <h4>Build a thriving team</h4>
            <p>Improve knowledge sharing and collaboration, coach and develop engineers, reduce onboarding ramp time, and lead inclusively and objectively.</p>
            <a href="">Learn more</a>
        </div>
        <div class="column col-lg-4 col-md-6 col-sm-1">
            <h4>Say goodbye to wasted efforts</h4>
            <p>Chances are, your developers are being asked to work on things that don’t align with your strategy. Quickly see where you can better optimize your engineering investment.</p>
            <a href="">Learn more</a>
        </div>
    </div>
</div>