<div class="container">
    <div id="hd1"  class="row">
        <h1>The technology workforce <br> development company</h1><br>
        <p>At Pluralsight, we believe everyone should have the opportunity to create progress 
            through <br> technology and develop the skills of tomorrow. With assessments, learning paths and courses 
             authored by industry experts,<br> our platform helps businesses and individuals benchmark expertise across roles, 
             speed up release cycles and build reliable, secure products.</p>
    </div><br>


    <div class="row">
        <div class="column col-lg-6 col-md-12">
            <img src="./../../assets/abt1.jpg" alt="nthg">
        </div>
        <div id="abt" class="column col-lg-6 col-md-12">
            <h1>At a glance</h1>
            <ul>
                <li>2,000+ expert authors</li><br>
                <li>Trusted by 70% of the Fortune 500 companies;<br> more than 17,700 business accounts.</li><br>
                <li>2,250+ employees</li><br>
                <li>Headquartered in Utah</li>
            </ul>
        </div>
    </div>
</div>