@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');
#r1{
    background: radial-gradient(39.56% 48.29% at 20% 115.78%, #FF1675 0%, rgba(255, 22, 121, 0) 100%),
    radial-gradient(54.23% 74.52% at 69.72% -10.08%, #FF1675 0%, rgba(255, 22, 121, 0) 100%),
    radial-gradient(21.67% 31.7% at 39.72% 107.79%, rgba(74, 51, 209, 0.8) 0%, rgba(74, 51, 209, 0) 100%),
    radial-gradient(40.08% 51.33% at 85.83% 24.14%, rgba(74, 51, 209, 0.8) 0%, rgba(74, 51, 209, 0) 100%);
    
}

.l1{
    text-align: center;
    padding-top: 80px;
    font-family: 'Aclonica', sans-serif;
}
.l2{
    font-weight: bold;
    text-align: left;
    display: inline-block;
    font-size:x-large;
    padding-bottom: 60px;

}
.container{
    text-align: center;
}
.s1{
    text-align: center;
    font-family: 'Rancho', cursive;
    font-size: x-large;
}
.b1{
    text-align: center;
}
@media(max-width:420px){
    img{
        width: 300px;
        height: 250px;
    }
    
}

