<div id="r1" class="main">
   <div >
       <h1 class="l1">Plurasight empowers you to</h1>
 </div>
 <div class="container">
     <ul class="l2">
        <li>onboard quicker</li>
        <li>deliver faster</li>
        <li>upgrade your skills</li>
        <li>build tech fluency</li>
        <li>upskill teams</li>
        <li>collaborate better</li>
     </ul>
 </div>
 <p class="s1">Develop critical tech skills. Cut cycle times. Build happier, healthier <br>
    tech teams. And transform your goals into gains. All with Pluralsight.</p>

    <div class="b1">
        <button style="background: #e7005e;border-radius: 12px;padding: 12px; border: none;font-size: large;">
            <b>View Plan</b></button>
    </div><br>
    <div class="container">
        <div class="box1">
           <img src="./../../assets/skills-woman-w-bg.webp" alt="">
        </div>
        <div class="box2">
            <img src="./../../assets/flow-man-w-bg.webp" alt="">
        </div>
    </div>
</div>

<div class="row">
 <div class="col-6 col-lg-6 col-sm-12">
    <h2 style="padding-top: 150px;">Why Pluralsight?</h2>
    <p>Whether you’re an individual looking to learn Python to advance your career or an enterprise team looking to cut cycle times,
         speed up onboarding, or give your teams the skills to realize your strategies, we remove the challenges and roadblocks slowing you down.
          We’re advancing the world’s tech workforce, and that starts with making your work more efficient and effective—and giving you more to celebrate.</p>
    <button style="background: #e7005e;border-radius: 12px;padding: 12px; border: none;font-size: large;">See our Solutions</button>
 </div>
 <div class="col-6 col-lg-6 col-sm-12">
    <img src="./../../assets/pluralsight-puzzle-piece.webp" alt="">
 </div>
</div>
